body {
  color: #000000;
  font-family: 'Lexend Deca', sans-serif;
  background-color: #000000;
  background-image: url('https://i.pinimg.com/originals/66/3a/46/663a4639787891da6037588879e36176.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
p,
ul,
ol {
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/** main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  height: 1375px;
  margin: 20px auto;
  outline: 1px solid #affde4;
  /* outline: 1px solid #bd5453; */

  outline-offset: 5px;
  border-radius: 120px 20px 20px 20px;
}

.main-content {
  background-color: #ffffff;
  padding: 70px;
  border-radius: 0 20px 20px 0;
  width: 650px;
}

/** about styles */
.about {
  margin-bottom: 40px;
}

.about-position {
  font-size: 18px;
  line-height: 17px;
  margin: 0;
}

.about-name {
  font-size: 45px;
  margin: 35px 0;
}

.about-description,
.projects-text,
.teamwork-descr {
  font-size: 14px;
  line-height: 24px;
  width: 480px;
  text-align: justify;
}

/** project styles */
.projects {
  margin-bottom: 40px;
}

.title {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 20px;
}

.projects-list {
  padding: 0;
  margin-left: 15px;
}

.projects-item,
.project-bracket {
  font-size: 14px;
  line-height: 24px;
}

.projects-item:not(:last-child) {
  margin-bottom: 10px;
}

.project-descr {
  display: flex;
}

.project,
.project-link {
  font-size: 16px;
  line-height: 24px;
 color: #000000;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link {
  margin-left: 15px;
  margin-right: 25px;
}

.project-link:hover,
.project-link:focus {
  color: #d56e66;
}

.projects-tech {
  color: #717070;
}

.git-link {
  margin-left: 5px;
   color: #000000;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.git-link:hover,
.git-link:focus {
  color: #d56e66;
}

/** teamwork styles */
.teamwork {
  margin-bottom: 40px;
}

.teamwork-project:not(:last-child) {
  margin-bottom: 20px;
}

.teamwork-links {
  margin-bottom: 10px;
}

.teamwork-position {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  color: #326e4c;
}

.teamwork-tech {
  font-size: 14px;
  line-height: 15px;
  color: #717070;
  margin-bottom: 10px;
}

.teamwork-site {
  color: #d56e66;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teamwork-site:hover,
.teamwork-site:focus {
  color: #ff815c;
}

.teamwork-git,
.teamwork-presentation {
   color: #000000;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teamwork-git:hover,
.teamwork-git:focus {
  color: #5683cb;
}

.teamwork-presentation:hover,
.teamwork-presentation:focus {
  color: #326e4c;
}
/** education */
.university {
  font-size: 16px;
  line-height: 20px;
  color: #477e9c;
}

.department {
  font-size: 14px;
  line-height: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.education-period {
  font-size: 14px;
  line-height: 15px;
  color: #717070;
  margin-bottom: 30px;
}

/** sidebar styles */
.sidebar {
  background-color: #1e221d;
  padding: 70px 20px;
  width: 350px;
  border-radius: 120px 0 0 20px;
}

.photo {
  /* position: relative; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  outline: 1px solid #affde4;
  /* outline: 1px solid #bd5453; */
  outline-offset: 5px;
}

.photo-container {
  position: relative;
  /* display: inline-block; */
  margin-bottom: 40px;
  /* width: 330px;
  height: 330px; */
}

/* .photo-container::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: linear-gradient(
    90deg,
    #243c33,
    #364e4d,
    #d1b579,
    #e46c39,
    #c73e2c,
    #2c445c,
    #37507a,
    #c73e2c,
    #e46c39,
    #d1b579,
    #243c33
  );
  opacity: 0.5;
  z-index: 0;
  border-radius: 50%;
  filter: blur(8px);
  animation: glowing 40s linear infinite;
  background-size: 500%;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
} */

.sidebar-title {
  color: #ffffff;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
}

.contacts,
.tech-skills,
.soft-skills,
.languages {
  margin-left: 30px;
}

.contacts {
  margin-bottom: 50px;
}

.tech-skills,
.soft-skills {
  margin-bottom: 45px;
}

.contact-type {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}

.contact-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #affde4;
  /* color: #FF815C; */
}

.contact-icon {
  margin-right: 10px;
}

.contacts-item {
   width: fit-content;
  margin-bottom: 5px;
  list-style: none;

}

.tech-skills-list,
.soft-skills-list,
.languages-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
  font-size: 14px;
  line-height: 24px;
}

.tech-skills-item,
.soft-skills-item,
.languages-item {
  color: #affde4;
  /* color: #FF815C; */
}

.tech-skills-text,
.soft-skills-text,
.languages-text {
  color: #ffffff;
}
